.App {
  text-align: center;
}
body{
  background-image: url('https://startinfinity.s3.us-east-2.amazonaws.com/production/blog/post/27/main/hxz0RhMzDeHogUZK0JNA82JabI3IstKUUbYB3dD8.png');
  background-size: cover;
}
.login{
  height:calc(100vh- 50px);
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
 
}
.logintitle{
  font-size: 40px;
}
.loginform{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.loginform > label{
  margin:10px 0;
}
.logininput{
  padding: 10px;
  background-color:white;
  border:none;
}
.loginbutton{
  margin-top: 20px;
  cursor: pointer;
  background-color:lightcoral;
  border:none;
  color:white;
  border-radius: 2px;
}
.loginregisterbutton{
  position: absolute;
  top:60px;right:20px;
  background-color:rgb(44, 130, 228);
  border-radius: 2px;
  color:rgb(5, 4, 4);
  padding:7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border:none;
}
.loginbutton:disabled{
  background-color:rgb(212, 175, 161);
  cursor:not-allowed;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

pre {
  white-space: pre-wrap;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}
